@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

html {
	font-family: "Quicksand", sans-serif;
	--bg-color: #f5f5f5;
	--text-col: #303035;
	--button-col: #21d5ef;
	--button-hov-col: #570892;
	--button-hov-text: #eaeaf1;
	--valid-col: #08d2de;
	--invalid-col: #e2094d;
	--area-col: white;
	--form-col: white;
	--form-bord: #d9dce0;
	--place-col: #5f6060;
	--back-form-col: #611cce;
	background-color: var(--bg-color);
	transition: background-color 0.3s ease-out;
}

html.dark {
	font-family: "Quicksand", sans-serif;
	--bg-color: #1e1d39;
	--text-col: #eaeaf1;
	--button-col: #570892;
	--button-hov-col: #21d5ef;
	--button-hov-text: #303035;
	--valid-col: #08d2de;
	--invalid-col: #e2094d;
	--area-col: #35314c;
	--form-col: dark;
	--form-bord: #f3f4f7;
	--place-col: white;
	--back-form-col: #eac009;
	background-color: var(--bg-color);
	transition: background-color 0.3s ease-out;
}

.cont0 {
	display: flex;
	max-width: 1800px;
	height: 100%;
	background-color: var(--bg-color);
	overflow: hidden;
	justify-content: space-around;
	align-items: flex-start;
	padding: 25px;
	transition: background-color 0.3s ease-out;
}

.cont1 {
	display: flex;
	max-width: 1000px;
	height: 100%;
	background-color: var(--bg-color);
	/*border: 3px solid yellow;*/
	overflow: hidden;
	justify-content: space-around;
	align-items: flex-start;
	transition: background-color 0.3s ease-out;
}

.cont2 {
	max-width: 600px;
	/*border: 3px solid yellow;*/
	overflow: hidden;
}

img {
	height: 780px;
	width: auto;
	object-fit: cover;
}

.cont2-5 {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	/*border: 3px solid purple;*/
}
.cont3_text {
	width: 500px;
	padding: 20px;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: var(--bg-color);
	padding-top: 50px;
	font-size: clamp(0.8rem, 1.5vw, 2rem);
	transition: background-color 0.3s ease-out;
}

.cont4_forms {
	display: flex;
	flex-direction: column;
	max-height: 500px;
	width: 100%;
	align-items: space-around;
	justify-content: space-around;
	gap: 30px;
	padding: 20px;
	background-color: var(--area-col);
	box-shadow: 1px 1px 1px 1px black;
	transition: background-color 0.3s ease-out;
}

.cont4-0_forms {
	padding: 10px;
	display: flex;
	gap: clamp(30px, 1.6vw, 60px);
	justify-content: space-around;
}

.cont4-1_forms {
	padding: 10px;
	display: flex;
	gap: clamp(20px, 1.5vw, 40px);
	justify-content: space-around;
	align-items: center;
}

.cont5_submit_button {
	padding: 10px;
	display: flex;
	gap: clamp(20px, 1.5vw, 40px);
	justify-content: center;
	align-items: center;
}

.btn1 {
	border-radius: 30px;
	outline: 0;
	width: 100%;
	border: none;
	background-color: var(--button-col);
	color: var(--text-col);
	box-shadow: 2px 2px 2px 2px black;
	transition:
		transform 0.25s ease-out,
		color 0.3s ease-in,
		background-color 0.3s ease-out;
	font-family: "Quicksand", sans-serif;
	min-width: 75px;
	min-height: 22px;
}

.btn1:hover {
	cursor: pointer;
	transform: scale(1.07) translateY(-3px);
	color: var(--button-hov-text);
	background-color: var(--button-hov-col);
}

.btn2 {
	position: relative;
	border-radius: 100%;
	background-color: var(--bg-color);
	outline: 0;
	border: none;
	transform: rotate(315deg);
	transition: background-color 0.3s ease-out;
}

.l_d {
	height: 50px;
	width: 50px;
	display: block;
	border-radius: 100%;
	transform: rotate(315deg);
	transition: transform 0.2s ease-out;
}

.l_d:hover {
	transform: scale(1.1);
}

h2,
label,
p {
	color: var(--text-col);
}

input {
	display: block;
}

.fname,
.lname,
.uemail,
.upass {
	background-color: var(--form-col);
	border-radius: 20px;
	outline: 0px;
	border: 2px solid var(--form-bord);
	transition:
		border 0.3s linear,
		transform 0.3s ease-out,
		background-color 0.3s ease-out;
	color: var(--text-col);
	font-family: "Quicksand", sans-serif;
	font-size: 0.8rem;
}

.fname:focus,
.lname:focus,
.uemail:focus,
.upass:focus {
	border: 2px solid var(--back-form-col);
	transform: scale(1.03);
}

.fname:invalid:not(:placeholder-shown),
.lname:invalid:not(:placeholder-shown),
.uemail:invalid:not(:placeholder-shown),
.upass:invalid:not(:placeholder-shown) {
	border: 2px solid var(--invalid-col);
}

.fname:valid,
.lname:valid,
.uemail:valid,
.upass:valid {
	border: 2px solid var(--valid-col);
}

.fname::placeholder,
.lname::placeholder,
.uemail::placeholder,
.upass::placeholder {
	color: var(--place-col);
	opacity: 60%;
	font-family: "Quicksand", sans-serif;
}

@media (max-width: 1111px) {
	.cont0 {
		max-width: 1600px;
		display: flex;
		height: 100%;
		background-color: var(--bg-color);
		justify-content: flex-start;
		align-items: flex-start;
		padding: 10px;
		flex-wrap: wrap;
		flex-direction: column;
	}

	.cont1 {
		display: flex;
		max-width: 100%;
		height: 100%;
		background-color: var(--bg-color);
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
	}

	.cont2 {
		max-width: 100%;
		max-height: auto;
		overflow: visible;
		flex-wrap: wrap;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		height: 100%;
	}

	img {
		max-height: auto;
		max-width: 1200px;
		object-fit: cover;
	}

	.cont2-5 {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		border: 3px solid purple;
	}

	.cont3_text {
		width: 100%;
		padding: 25px;
		overflow: visible;
		position: relative;
		display: flex;
		justify-content: center;
		text-align: center;
		background-color: var(--bg-color);
		padding-top: 25px;
		font-size: clamp(1.1rem, 2vw, 2rem);
	}

	.cont4_forms {
		display: flex;
		flex-direction: column;
		max-height: 400px;
		width: 100%;
		overflow: visible;
		align-items: center;
		justify-content: center;
		gap: 65px;
		padding-top: 65px;
		background-color: var(--area-col);
		font-size: clamp(1rem, 4vw, 2rem);
	}

	.cont4-0_forms {
		flex-direction: row;
		padding: 20px;
		display: flex;
		gap: clamp(80px, 15vw, 110px);
		justify-content: center;
	}

	.cont4-1_forms {
		flex-direction: row;
		padding: 20px;
		display: flex;
		gap: clamp(80px, 15vw, 110px);
		justify-content: center;
	}

	.cont5_submit_button {
		padding: 5px;
		display: flex;
		gap: clamp(5px, 1.3vw, 10px);
		justify-content: center;
		align-items: center;
		padding-bottom: 65px;
	}

	input {
		min-width: 130px;
		min-height: 50px;
	}

	.btn1 {
		border-radius: 30px;
		outline: 0;
		min-width: 250px;
		min-height: 50px;
		font-size: clamp(1rem, 3vw, 2rem);
	}

	.l_d {
		height: 60px;
		width: 60px;
	}

	.fname,
	.lname,
	.uemail,
	.upass {
		font-size: clamp(1.3rem, 2vw, 1.4rem);
	}

	.fname::placeholder,
	.lname::placeholder,
	.uemail::placeholder,
	.upass::placeholder {
		font-size: clamp(1.3rem, 2vw, 1.4rem);
	}
}

@media (max-width: 600px) {
	.cont0 {
		max-width: 800px;
		display: flex;
		height: 100%;
		background-color: var(--bg-color);
		justify-content: flex-start;
		align-items: flex-start;
		padding: 3px;
		flex-wrap: wrap;
		flex-direction: column;
	}

	.cont1 {
		display: flex;
		max-width: 100%;
		height: 100%;
		background-color: var(--bg-color);
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
	}

	.cont2 {
		max-width: 100%;
		max-height: auto;
		overflow: visible;
		flex-wrap: wrap;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		height: 100%;
	}

	img {
		max-height: auto;
		max-width: 1000px;
		object-fit: cover;
	}

	.cont2-5 {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		border: 3px solid purple;
	}

	.cont3_text {
		width: 100%;
		padding: 5px;
		overflow: visible;
		position: relative;
		display: flex;
		justify-content: center;
		text-align: center;
		background-color: var(--bg-color);
		padding-top: 10px;
		font-size: clamp(0.7rem, 1.7vw, 2rem);
	}

	.cont4_forms {
		display: flex;
		flex-direction: column;
		max-height: 300px;
		width: 100%;
		overflow: visible;
		align-items: center;
		justify-content: center;
		gap: 40px;
		padding-top: 40px;
		background-color: var(--area-col);
		font-size: clamp(1.1rem, 2vw, 2rem);
	}

	.cont4-0_forms {
		flex-direction: row;
		padding: 5px;
		display: flex;
		gap: clamp(7px, 5vw, 30px);
		justify-content: center;
	}

	.cont4-1_forms {
		flex-direction: row;
		padding: 5px;
		display: flex;
		gap: clamp(7px, 5vw, 30px);
		justify-content: center;
	}

	.cont5_submit_button {
		padding: 5px;
		display: flex;
		gap: clamp(5px, 1.3vw, 10px);
		justify-content: center;
		align-items: center;
		padding-bottom: 40px;
	}

	input {
		max-width: 125px;
		min-width: 90px;
		min-height: 20px;
	}

	.btn1 {
		border-radius: 30px;
		outline: 0;
		min-width: 200px;
		min-height: 30px;
		font-size: clamp(1rem, 2vw, 2rem);
	}

	.l_d {
		height: 30px;
		width: 30px;
	}

	.fname,
	.lname {
		font-size: clamp(1rem, 2vw, 1rem);
	}

	.fname::placeholder,
	.lname::placeholder {
		font-size: clamp(1rem, 2vw, 1rem);
	}

	.uemail,
	.upass {
		font-size: clamp(1rem, 2vw, 1rem);
	}

	.uemail::placeholder,
	.upass::placeholder {
		font-size: clamp(0.8rem, 2vw, 1rem);
	}
}
